.profile {
    max-width: 350px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    text-align: center;
}

.description {
    padding: 40px 40px;
    background-color: #fff;
}

.avatar {
    width: 60%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    margin-bottom: 30px;
}

.row {
    margin-bottom: 10px;
}

.lightText {
    color: #747373;
}

.username {
    composes: row;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.tag {
    composes: row;
    composes: lightText;
}

.location {
    composes: lightText;
}

.stats {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    background-color: #f0eded;
    border-top: 1px solid #d3d2d2;
}

.item {
    padding: 20px;
    width: 30%;
    text-align: center;
}

.item:not(:last-child) {
    border-right: 1px solid #d3d2d2;
}

.label {
    display: block;
    color: #747373;
    margin-bottom: 5px;
}

.quantity {
    font-weight: 700;
}